<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>LSSupportsOpeningDocumentsInPlace</key>
   <true/>
   <key>UIFileSharingEnabled</key>
   <true/>
   <key>NSFileProviderDomainUsageDescription</key>
   <string>App needs to access files for saving images</string>
   <key>NSPhotoLibraryUsageDescription</key>
   <string>Allow access to your photo library to upload tracking images and documents</string>
   
   <key>NSCameraUsageDescription</key>
   <string>Need camera access for QR scanning and taking tracking photos</string>
   
   <key>NSMicrophoneUsageDescription</key>
   <string>This app needs access to microphone to record videos</string>
   
   <key>NSPhotoLibraryAddUsageDescription</key>
   <string>This app needs access to photo library to save tracking images</string>
   
   <key>UIBackgroundModes</key>
   <array>
       <string>fetch</string>
       <string>remote-notification</string>
       <string>processing</string>
   </array>
   
   <key>aps-environment</key>
   <string>development</string>
   
   <key>NSAppTransportSecurity</key>
   <dict>
       <key>NSAllowsArbitraryLoads</key>
       <true/>
       <key>NSAllowsLocalNetworking</key>
       <true/>
       <key>NSExceptionDomains</key>
       <dict>
           <key>fluffypaw.azurewebsites.net</key>
           <dict>
               <key>NSExceptionAllowsInsecureHTTPLoads</key>
               <false/>
               <key>NSExceptionRequiresForwardSecrecy</key>
               <true/>
               <key>NSExceptionMinimumTLSVersion</key>
               <string>TLSv1.2</string>
               <key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
               <false/>
           </dict>
       </dict>
   </dict>
   
   <key>UIUserInterfaceStyle</key>
   <string>Light</string>
   
   <key>UILaunchStoryboardName</key>
   <string>LaunchScreen</string>
   
   <key>UIMainStoryboardFile</key>
   <string>Main</string>
   
   <key>CFBundleURLTypes</key>
   <array>
       <dict>
           <key>CFBundleURLSchemes</key>
           <array>
               <string>com.googleusercontent.apps.126308072976-nai8u8atiedqebv0kvv0n1udemqa1qvt</string>
           </array>
       </dict>
   </array>
   
   <key>UISupportedInterfaceOrientations</key>
   <array>
       <string>UIInterfaceOrientationPortrait</string>
       <string>UIInterfaceOrientationLandscapeLeft</string>
       <string>UIInterfaceOrientationLandscapeRight</string>
   </array>
   
   <key>UISupportedInterfaceOrientations~ipad</key>
   <array>
       <string>UIInterfaceOrientationPortrait</string>
       <string>UIInterfaceOrientationPortraitUpsideDown</string>
       <string>UIInterfaceOrientationLandscapeLeft</string>
       <string>UIInterfaceOrientationLandscapeRight</string>
   </array>
   
   <key>PHPhotoLibraryPreventAutomaticLimitedAccessAlert</key>
   <false/>
   
   <key>CADisableMinimumFrameDurationOnPhone</key>
   <true/>
   
   <key>UIApplicationSupportsIndirectInputEvents</key>
   <true/>
   
   <key>CFBundleDevelopmentRegion</key>
   <string>$(DEVELOPMENT_LANGUAGE)</string>
   
   <key>CFBundleDisplayName</key>
   <string>Fluffypawsm</string>
   
   <key>CFBundleExecutable</key>
   <string>$(EXECUTABLE_NAME)</string>
   
   <key>CFBundleIdentifier</key>
   <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
   
   <key>CFBundleInfoDictionaryVersion</key>
   <string>6.0</string>
   
   <key>CFBundleName</key>
   <string>fluffypawsm</string>
   
   <key>CFBundlePackageType</key>
   <string>APPL</string>
   
   <key>CFBundleShortVersionString</key>
   <string>$(FLUTTER_BUILD_NAME)</string>
   
   <key>CFBundleSignature</key>
   <string>????</string>
   
   <key>CFBundleVersion</key>
   <string>$(FLUTTER_BUILD_NUMBER)</string>
   
   <key>LSRequiresIPhoneOS</key>
   <true/>
</dict>
</plist>